spring:
  config:
    import: optional:file:.env[.properties]

  datasource:
    url: ${POSTGRES_URL:jdbc:postgresql://db:5432/database}
    username: ${POSTGRES_USER:root}
    password: ${POSTGRES_PASSWORD:1234}
    driver-class-name: org.postgresql.Driver

  # Redis 설정
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:}
      timeout: 2000ms
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0
