spring:
  application:
    name: dev-backend
  config:
    activate:
      on-profile: dev   # dev 프로필이 활성화될 때만 이 파일 내용이 적용


  datasource:
    url: ${POSTGRES_URL:jdbc:postgresql://db:5432/database}
    username: ${POSTGRES_USER:root}
    password: ${POSTGRES_PASSWORD:1234}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        highlight_sql: true
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  # Redis 설정
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:}
      timeout: 2000ms
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0
